parameters:
    level: 6
    paths:
        - config
        - src
        - tests
    bootstrapFiles:
        #- .phpstan.constants.php
    excludePaths:
        - src/Dice
        - src/Card
        - tests/*
        - src/Repository
        - src/Entity
