{% extends "./base.html.twig" %}

{% block title %}My Card Game{% endblock %}

{% block body %}
<h1>CardDeckDraw</h1>

<p>Drar ett kort från kortleken i ordning</p>
<p>CardCount: {{ cardcount }}</p>



{% for card in cards%}
{% set suit = card|slice(-1)|first%}
{% if suit == "♡" or suit == "♢"%}
<p><span style="color:red;">[{{card}}]</span></p>
{% endif %}
{% if suit == "♧" or suit == "♤"%}
<p><span>[{{card}}]</span></p>
{%endif%}
{% endfor %}

{% endblock %}