{% extends "./base.html.twig" %}

{% block title %}My Card Game{% endblock %}

{% block body %}
<h1>CardDeckDraw</h1>

<p>Drar ett kort från toppen av kortleken</p>
<p>CardCount: {{ cardcount }}</p>
<p>Card: [{{ card }}]</p>

<button onclick="window.location.reload()">Refresh</button>

{% endblock %}