{% extends "AdventureGameTemplates/base2.html.twig" %}

{% block title %}Project Home{% endblock %}

{% block body %}
<div class="container">
    <h3>Adventure Game: Escape the house</h3>
    <p>Jag valde att göra adventure game som mitt projekt. det är ett rätt simpelt spel jag håller rummen låga som det säger man ska göra, så jag tänker jag gör något simpelt escape spel typ. Målet är att att komma ut ur huset vilket man kan göra genom att hitta lapparna som finns i huset för att sedan casha ut en nyckel som öppnar ytterdörren.</p>
    <h3>Fusklapp</h3>
    <p>Här är snabbaste sättet att klara spelet.</p>
    <ul>
        <li>move east</li>
        <li>pickup piece of ham</li>
        <li>move east</li>
        <li>pickup note</li>
        <li>move west</li>
        <li>move west</li>
        <li>move west</li>
        <li>use ham</li>
        <li>move east</li>
        <li>move south</li>
        <li>use first half of the note</li>
        <li>use second half of the note</li>
        <li>password trocadero</li>
        <li>pickup key</li>
        <li>move north</li>
        <li>move north</li>
        <li>use key</li>
        <li>Congratulations on you've won</li>
    </ul>

</div>
{% endblock %}