{% extends "AdventureGameTemplates/base2.html.twig" %}

{% block title %}Project Home{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-info" href="{{ path("proj_adventure") }}">Go to Game</a>
    <a class="btn btn-info" href="{{ path("proj_about") }}">Go to Game</a>
  </div>
{% endblock %}