{% extends "base.html.twig" %}

{% block title %}Game Start{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1></h1>
        </div>
        <div class="col-md-6">
            <h1></h1>

    </div>
</div>
{% endblock %}
