/* body {
    margin: 0 auto;
    max-width: 800px;
    background-color: rgb(219, 219, 255);
}

.container {
    display: flex;
    flex-wrap: wrap;
}
  
.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.lucky-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.round-img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.floating-image {
    position: absolute;
    transition: transform 1s ease-in-out;
}

.floating-image:hover {
    transform: translate(50px, 50px);
} */

/* .floating {
    position: absolute;
    transition: transform 1s ease-in-out;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -50px;
}

.wrapper:after {
    content: "";
    display: block;
}

footer {
    height: 50px;
}
   */